extends ../layout

block content 
    
    a(href="/bicicletas") Volver 
    br
    br
    br

    h1 Actualizar Bicicleta 

    br
    br

    form(action=`/bicicletas/update/${bici.id}` method="post")
        label(form="id") ID: 
        input#id(type="text" name="id" value=bici.id)
        br
        label(for="color") Color:
        input#color(type="text" name="color" value=bici.color)
        br
        label(for="modelo") Modelo:
        input#modelo(type="text" name="modelo" value=bici.modelo)
        br
        label(for="latitud") Latitud:
        input#latitud(type="text" name="latitud" value=bici.ubicacion[0])
        br
        label(for="longitud") Longitud:
        input#longitud(type="text" name="longitud" value=bici.ubicacion[1])
        br
        br
        input.btn(type="submit" value="OK")